/* ---font------------ */
body{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
}

header{
    width: 100%;
    height: 677px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#2D25A0;
}
.top-feature{
    /* width: 80%;    
    display: flex; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* justify-content: space-between;
    align-items: center;     */
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
    
}
.top-content{
    width: 100%;
    font-size: 33px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin-right: 51px;    
}
.top-content h1 {
    margin-bottom: 10px;
}
.top-content a{
    color: #ffffff;
    padding: 10px 15px;
    background: #E02C6D;
    text-decoration: none;
    font-size: 18px;
}
.top-banner{
    width: 100%;
    height: 410px;
    margin-left: 51px;
}
.top-banner img{
    width: 100%;
    height: 438px;
}




/* -------------main section------------ */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

/* ------------------
        player section
    --------------------- */
.players{
    width: 75%;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-photo img{
    width: 100%;
    height: 256px;
}
.player-info{
    height: 175px;
    overflow: scroll;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;

}

/* optional section  */
.highlight{
    width: 75%;
    display: flex;
    justify-content: center;
    margin-top: 100px;

    
}
.content{
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}
.content h1{
    font-size: 35px;
    margin-top: 60px;
    font-weight: 800;
    line-height: 45px;
}
.content a{
    color: #ffffff;
    padding: 10px 15px;
    background: #E02C6D;
    text-decoration: none;
    font-size: 18px;
}
.thumnil {
    margin-left: 15px;
}
.thumnil img{
    width: 90%;
}






/* ------------------------
        footer part
---------------------------- */
footer{
    display: flex;    
    justify-content: center;  
    margin-top: 158px;
}

.footers{
    width: 483px;
    height: 213px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
}
.footer-logo {
    display: flex;
    justify-content: center;    
}
.footer-logo img {
    width: 80%;
    
}
.footer-icons i{
   font-size: 32px;
    color: gray;
    margin: 5px;
    margin-top: 30px;

}


/* --------------------
Media Queeise
----------------------- */

/* Mobile device */
@media only screen and (max-width:688px) {
    
    .top-content {
        font-size: 23px;        
        margin: 0;
        margin-bottom: 35px;
    }
    .top-banner img {
        width: 80%;
        height: auto;
    }
    .top-feature{
        display: flex;
        flex-direction: column;
    }
    .players {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .footers {
        flex-direction: column;
        align-items: center;
        
    }
}
 

/* Tablet device */


@media only screen and (min-width:688px) and (max-width:992px) {
    .players {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }
    
}
